@import 'fonts';

ol, dl, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: rgba(0, 0, 0, 1);
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

body {
    font-family: 'Raleway', sans-serif;
}